@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/844a2e12-df15-4697-b172-3e05db4d3413)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.8s;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.nav-item {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}
#shoppingCart svg {
  width: 18px;
}
.nav-item:hover {
  color: skyblue;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
h1 {
  text-align: center;

  color: #f1f1f1;
}
#check {
  display: none;
}
.container {
  padding: 40px;
  margin-bottom: 100px;
}

/* ======================== PRODUCT===================== */
.heading {
  color: #ee4d2d;
}
.list-product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.product-item {
  width: 240px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 337px;
}
.product-item img {
  width: 100%;
  object-fit: cover;
}
.product-title {
  margin-top: 8px;
}
.product-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.product-footer--price {
  color: #ee4d2d;
}
.product-footer--sold {
  color: rgba(0, 0, 0, 0.54);
}
.product-footer--shopping {
  cursor: pointer;
  color: #000;
  width: 18px;
}

/* =======================Cart======================== */

#contentCart {
  position: fixed;
  top: 66px;
  width: 400px;
  z-index: 999;
  right: 0px;
  bottom: 0px;
  background: #e2e2e2;
  border-radius: 14px 0 0 0;
  padding: 14px;
}

.cart-item {
  display: flex;
  align-items: center;

  gap: 36px;
  padding: 14px;
  margin: 12px 0;
  border-bottom: 1px solid #949494;
}
.cart-item img {
  width: 80px;
  object-fit: cover;
  border-radius: 10px;
}
